@import url(https://fonts.googleapis.com/css?family=Hind+Vadodara:400,700,300);

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Hind Vadodara', sans-serif;
  height: 100%;
}

button {
  font-family: 'Hind Vadodara', sans-serif;
}

body {
  background: #333;
  color: #2c3e50
}

a {
  text-decoration: none;
  color: #2c3e50;
}

button {
  outline: none;
}

.row {
  margin: 0;
}

#app-container {
  height: 100%;
}

.app-container {
  height: 100%;
  background: #FFF;
  display: flex;
  flex-direction: column;
}

.app-layout-content{
  flex: 1;
  overflow: auto;
  position: relative;

  display: flex;
  flex-direction: column;
}

.appbar {
  font-size:22px;
  padding: 10px;
  font-weight: bold;
  overflow: auto;

  &--default {
    background-color: #34495e;
    color: #FFF;
  }
}

.content-container {
  padding: 0 10px;

  &--include-top {
    padding-top: 10px;
  }

  &--include-bottom {
    padding-bottom: 10px;
  }
}

.item-list {

  &--small {
    & {
      .item-list {
        &__item {
          &__content {
            &__header {
              font-size:17px;
            }
          }
        }
      }
    }
  }

  &__item {
    display: block;
    padding: 5px 10px;
    overflow: hidden;

    &--header {
      background: #bdc3c7;
      color: #FFF;
      font-weight:bold;

      &:hover, &:active {
        background: #bdc3c7;
      }
    }

    &:hover, &:active {
      background: #f1f1f1;
    }

    &__image {
      float:left;
      width: 65px;
      height: 65px;
      margin-right:10px;

      img {
        vertical-align: middle;
      }
    }

    &__content {
      overflow:hidden;

      &__header {
        font-weight: 300;
        font-size:25px;
      }

      &__description {
        padding-left: 15px;
        border-left: 2px solid #2c3e50;
        font-size: 15px;
        line-height: 1.8em;
      }
    }
  }
}

.calendar-date {
  font-size: 1em; /* change icon size */
  display: block;
  position: relative;;
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 3px;
  border:1px solid #95a5a6;
  overflow: hidden;
  text-align: center;

  &__date {
      display:block;
      padding-top: 2px;
      font-weight: bold;
      font-size: 24px;
      letter-spacing: -0.05em;
      color: #2c3e50;
  }

  &__day {
    display:block;
    color: #fd9f1b;
    font-weight: bold;
  }

  &__month {
    display:block;
    color: #fff;
    background-color: #e67e22;
    border-bottom: 1px dashed #fd9f1b;
    box-shadow: 0 2px 0 #e67e22;
  }

}

.btn {
  display: inline-block;
  line-height: 1;

  &--large {
    padding:10px;
    font-size:20px;
    border-radius: 2px;
    font-weight: bold;
  }

  &--block {
    display: block;
    width: 100%;
  }

  &--success {
      background-color:#2ecc71;
      color: #ecf0f1;
      border:1px solid #28b162;
  }

  &--danger {
      background-color:#c0392b;
      color: #ecf0f1;
      border: 1px solid #e74c3c;
  }
}

.form-control {
  padding:10px 6px;
  font-size:20px;
  width: 100%;
  border-radius:2px;
  border: 1px solid #7f8c8d;

  &:hover, &:active, &:focus {
    border-color:#2c3e50;
  }
}

.actionbar {
  background: #2c3e50;

  &--fullscreen {
    flex: 1;
  }

  .btn--success {
    background-color: #3F51B5;
    border-color: #1E2D80;
  }
}

.separator {
    height: 1px;
    background-color: #2c3e50;
    border-radius: 2px;
    display: block;
    margin: 10px 0;
}


.layout__flex {
  flex: 1;
  display: flex;
  flex-direction: column;;
}

.numberpad {
  flex: 1;
  display: flex;
  flex-direction: column;;
  flex-wrap: nowrap;
  justify-content: space-around;

  &--dark {
    .numberpad__button {
      color: #FFF;
      border-radius: 50%;
      border: 1px solid #95a5a6
    }
  }
}

.numberpad__result__container {
  padding: 8% 8% 0;
  text-align: center;
}

.numberpad__container {
  flex: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  padding: 8%;
}

.numberpad__result {
  color: #FFF;
  line-height: 1;
  font-size: 45px;
  font-weight: 300;
}

.numberpad__result__placeholder {
  color: #95a5a6;
  line-height: 1;
  font-size: 35px;
  font-weight: 300;
}

.numberpad__button {
  width: calc(100% / 3 - 10px);
  background:transparent;
  border: 0;
  font-size: 38px;
  font-weight: 300;
  margin: 5px;
  transition: background 200ms ease-out;

  &:active{
    background: #95a5a6;
  }
}

.actionbar__buttons {
  display: flex;
  flex-direction: row;

  &__button {
    margin: 5px;
  }
}

.example-enter {
  left: 100%;
  top:0;
  position:absolute;
  transition: left 0.3s linear;
  width: 100%;
  background: #FFF;
  z-index: 2;
}

.example-enter.example-enter-active {
  left: 0;
}

.example-leave {
  left: 0;
  top:0;
  position:absolute;
  width: 100%;
  transition: left 0.3s linear;
  background: #FFF;
  z-index: 1;
}

.example-leave.example-leave-active {
  left: -100%;
}
